{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "editor.formatOnSave": true,
  "editor.formatOnPaste": true,
  "[typescriptreact]": {
    "editor.formatOnSave": true
  },
  "[javascriptreact]": {
    "editor.formatOnSave": true
  },
  "[jsx-tags]": {
    "editor.formatOnSave": true
  }
}