:root {
  /* Primary colors */
  --primary100: #ce3234;
  --primary75: #da6567;
  --primary50: #e7999a;
  --primary25: #f2cbcc;
  --primary10: #fbebeb;

  /* Accent colors */
  --accent100: #e7b400;
  --accent75: #ffd540;
  --accent50: #ffe380;
  --accent25: #fff1bf;

  /* Gray colors */
  --gray100: #333333;
  --gray75: #666666;
  --gray50: #999999;
  --gray25: #cccccc;
  --gray15: #e1e1e1;
  --gray10: #ebebeb;
  --white: #fff;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.ck > * h2 {
  font-size: 2rem;
}

.ck > * h3 {
  font-size: 1.3rem;
}
/* 
.ProseMirror-focused,
.ProseMirror {
  padding: 4px;
  background-color: var(--gray-10)
}

.primary-button {

  @apply py-1 px-4 bg-gray-15 border rounded-sm border-gray-75;
  cursor: pointer;
}

.cell {
  @apply border-solid border border-gray-25 rounded-md p-2;
}

/* Metadata json form tree editor */
.f-input {
  display: flex !important;
}

.f-input > * {
  margin-right: 0.3em;
  background-color: white;
}

.pure-form > form {
  display: flex;
}

.ck > * ul {
  list-style: disc;
  margin-left: 2rem;
}

.ck > * ol {
  list-style: decimal;
  margin-left: 2rem;
}
/* 
.ck >  * a{
  @apply text-blue-600;
}

.ck > * a:hover {
  @apply underline cursor-pointer
} */

/** CKE Override */
.ck.ck-editor__editable_inline > :first-child {
  margin-top: 0 !important;
}
