@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* Primary colors */
  --primary100: #ce3234;
  --primary75: #da6567;
  --primary50: #e7999a;
  --primary25: #f2cbcc;
  --primary10: #fbebeb;

  /* Accent colors */
  --accent100: #e7b400;
  --accent75: #ffd540;
  --accent50: #ffe380;
  --accent25: #fff1bf;

  /* Gray colors */
  --gray100: #333333;
  --gray75: #666666;
  --gray50: #999999;
  --gray25: #cccccc;
  --gray15: #e1e1e1;
  --gray10: #ebebeb;
  --white: #fff;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl font-bold;
}

.ProseMirror-focused,
.ProseMirror {
  @apply p-2 bg-gray-10;
}

.primary-button {
    @apply py-1 px-4 bg-gray-15 border rounded-sm border-gray-75;
    cursor: pointer;
}

.cell{
   @apply border-solid border border-gray-25 rounded-md p-2
}


/* Metadata json form tree editor */
.f-input{
    display:flex !important;
}

.f-input > * {
    margin-right: 0.3em;
    background-color: white;
}

.pure-form > form {
    display:flex;
}
